doctype html
html
	head
		title= mythos.lib.template.getTitle()
		link(rel='stylesheet', href=mythos.lib.url.bower('bootstrap/dist/css/bootstrap.min.css'))
		link(rel='stylesheet', href=mythos.lib.url.asset('css/style.css'))
	body
		block content
		script(src=mythos.lib.url.bower('jquery/dist/jquery.min.js'))
		script(src=mythos.lib.url.bower('bootstrap/dist/js/bootstrap.min.js'))